body{
    font-family: "Lucida Console";
}

a:link{
    color: #4285f4;
    text-decoration: none;
    background-color: #e1ecff;
}

a:visited{
    color: #3c4043;
    text-decoration: none;
}

a:hover, a:active{
    text-decoration: underline;
}
#textAreas{
    height: 250px;
}

#parameters{
    display: flex;
    flex-direction: row;
}
.ULformatting{
    margin-left: 20px;
    margin-right: 50px;
}

.learnMore{
    font-size: x-large;
}

#bigCont{
    display: flex;
    flex-direction: column;
    padding: 5px ;
}

#streams{
    display: flex; 
    flex-flow: row wrap;
}

#LiCreation{
    overflow: scroll;
    height: 200px;
}

/* button formatting taken from -> https://getcssscan.com/css-buttons-examples  */
.button-17 {
   font-size: 18px;
  background-color: #c8c8cc;
  color: #fff;
  text-shadow: 0 2px 0 rgb(0 0 0 / 25%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 0;
  z-index: 1;
  user-select: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  white-space: unset;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  font-weight: 900;
}

.button-17:hover {
  background-color: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}